<h1>Welcome!</h1>

<p>
<%= link_to "Store", products_path %>
</p>

<p>
  <%= link_to "Create Account", new_user_path, class: "btn btn-success" %>
</p>

<% if user_signed_in? && current_user.approved? && !current_user.profile_completed? %>
  <div class="alert alert-info mt-4 text-center shadow-sm" role="alert">
    🎯 <strong>Complete your profile</strong> to enhance your experience.
    <br>
    <%= link_to "Complete My Profile", edit_profile_path, class: "btn btn-primary mt-2" %>
  </div>
<% end %>
